
.left_menu{
        border-radius: 5px;
        background: #ffffff;
        height: 60px;
        text-align: left;
        line-height: 60px;
        margin-right: 20px;
        text-decoration-color: #333333;
        border: solid;

        solid-color: #333333;
}
tbody tr{
        display: inline-block;
}

th,td {
        height: 45px;
        width: 40px;
        margin-left: 10px;
        display: block;
}